{% extends 'base.html.twig' %}

{% block title %}DateEx index{% endblock %}

{% block body %}
    <h1>DateEx index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for date_ex in date_exes %}
            <tr>
                <td>{{ date_ex.id }}</td>
                <td>{{ date_ex.date ? date_ex.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_date_ex_show', {'id': date_ex.id}) }}">show</a>
                    <a href="{{ path('app_date_ex_edit', {'id': date_ex.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_date_ex_new') }}">Create new</a>
{% endblock %}
