{% extends 'base.html.twig' %}

{% block title %}Bus index{% endblock %}

{% block body %}
    <h1>Bus index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NbPlaces</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bu in buses %}
            <tr>
                <td>{{ bu.id }}</td>
                <td>{{ bu.nbPlaces }}</td>
                <td>
                    <a href="{{ path('app_bus_show', {'id': bu.id}) }}">show</a>
                    <a href="{{ path('app_bus_edit', {'id': bu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bus_new') }}">Create new</a>
{% endblock %}
